.footer {
  width: 100%;
  /*background: #006909;*/
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  /*padding: 0 20px;*/
}

.footerContent {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .footerContent {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .socTitle {
    font-size: 16px;
  }
  .feed {
  }
  .feed input{
    border-radius: 5px;
    margin-right: 10px;
  }
   .feed button{
    border-radius: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .input {
    border-radius: 5px;
  }
}

.contentBox {
  width: 30%;
  /*background: red;*/
}

.socIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialBox {
  /*display: flex;*/
}

.socTitle {
  color: white;
}

.fb:hover {
  font-size: 20px;
  color: #0673e7;
  transition: 0.8s;
}

.inst:hover {
  font-size: 20px;
  /*color: #0673E7;*/
  transition: 0.8s;
  color: #f53844;
  /*color: linear-gradient(315deg, 0%, #f53844 74%);*/
}

.pinte:hover {
  font-size: 20px;
  color: darkred;
  transition: 0.8s;
}

.footerCategories {
  color: white;
  cursor: pointer;
}
.footerCategories:hover {
  color: blanchedalmond;
}

.copyBox {
  display: flex;
  justify-content: center;
  color: white;
}

.copy {
  margin-top: 25px;
}

.input {
  height: 25px;
  background: white;
  color: black;
  outline: 0;
  border-radius: 5px 0 0 5px;
  padding: 0 5px;
}

.sendButtom {
  height: 35px;
  height: 25px;
  background: white;
  color: black;
  outline: 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #6adf76;
  background-image: linear-gradient(to right, transparent 0%, #7b99a1 100%);
}
